---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  const shouldIncludeDrafts = process.env.NODE_ENV === 'development';

  return posts
    .filter((post) => (shouldIncludeDrafts ? post : !post.data.draft))
    .map((post) => ({
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    }));
}

const { data, render } = Astro.props.post;
const { Content } = await render();
---

<Layout title={`${data.author} | Blog do Kauê`}>
  <header>
    <p>{data.author.split('<')[0]}</p>
  </header>

  <article class="space-y-4 md:text-lg">
    <Content />
  </article>
</Layout>
