---
import { getCollection, type CollectionEntry, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../utils/format-date';
import ShareButton from '../../components/ShareButton.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  const shouldIncludeDrafts = process.env.NODE_ENV === 'development';

  return posts
    .filter((post) => (shouldIncludeDrafts ? post : !post.data.draft))
    .map((post) => ({
      params: {
        slug: post.id,
      },
      props: {
        post,
      },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const wordsPerMinute = 200;
const words = post.body ? post.body.split(' ').length : 0;
const readingTime = Math.floor(words / wordsPerMinute);
---

<Layout title={post.data.title!}>
  <article class="my-16 h-full max-w-4xl space-y-4 md:text-lg">
    <header class="space-y-2">
      <h1 class="text-2xl font-medium text-violet-800 md:text-5xl">
        {post.data.title}
      </h1>
      {post.data.draft ? <p>rascunho</p> : ''}
      <p class="text-black/70">
        {formatDate(post.data.pubDate!)} • {readingTime} minutos de leitura
      </p>
    </header>

    <Content />

    <footer>
      <ShareButton title={post.data.title!} />
    </footer>
  </article>
</Layout>

<style is:global>
  article pre {
    padding: 6px 12px;
    border-radius: 6px;
  }

  article code:not(pre code) {
    border-radius: 6px;
    padding: 2px 6px;
    background-color: rgb(194, 194, 194);
  }

  article h2 {
    font-size: 28px;
    padding-top: 8px;
  }

  article h3 {
    font-size: 24px;
    padding-top: 4px;
  }

  article h4,
  article h5,
  article h6 {
    color: #374151;
    padding-top: 4px;
  }

  article ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  article a {
    text-decoration: underline;
    color: rgb(91, 33, 182);
  }

  article a:visited {
    color: rgb(7, 89, 133);
  }
</style>
