---
import { getCollection } from 'astro:content';
import NavLink from '../../components/NavLink.astro';
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../utils/format-date';

const shouldIncludeDrafts = process.env.NODE_ENV === 'development';

const posts = await getCollection(
  'blog',
  shouldIncludeDrafts ? undefined : (post) => !post.data.draft
);
const sortedPosts = posts.sort((a, b) => +b.data.pubDate! - +a.data.pubDate!);
---

<Layout title="Blog | Kauê Fraga Rodrigues">
  <main class="my-16 h-full space-y-5">
    <h1 class="text-main-darker text-2xl font-bold md:text-4xl">Posts</h1>

    <ul class="space-y-6 md:space-y-2">
      {
        sortedPosts.map(({ id, data }) => {
          return (
            <li class="flex flex-wrap items-center gap-x-6 font-mono">
              <p class="text-black/80">{formatDate(data.pubDate!)}</p>
              <NavLink href={`/blog/${id}`}>{data.title}</NavLink>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
