---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import NavLink from '../../components/NavLink.astro';
import { formatDate } from '../../utils/format-date';

const shouldIncludeDrafts = process.env.NODE_ENV === 'development';

const posts = await getCollection(
  'blog',
  shouldIncludeDrafts ? undefined : (post) => !post.data.draft
);
const sortedPosts = posts.sort(
  (a, b) => +b.data.publishDate - +a.data.publishDate
);
---

<Layout title="Blog | Kauê Fraga Rodrigues">
  <main class="space-y-5">
    <h1 class="text-2xl font-bold text-violet-800 md:text-4xl">Posts</h1>

    <ul class="flex flex-col gap-3">
      {
        sortedPosts.map((post) => {
          return (
            <li class="flex flex-wrap gap-x-6 font-mono">
              <p>{formatDate(post.data.publishDate)}</p>
              <NavLink href={`/blog/${post.slug}`}>{post.data.title}</NavLink>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
