---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Kauê Fraga Rodrigues">
  <main class="w-full max-w-3xl mx-auto px-6 py-3 space-y-6 lg:text-lg">
    <h1 class="max-w-lg text-pretty text-2xl md:text-5xl">Um pouco mais sobre mim</h1>

    <p>Me chamo Kauê, sou desenvolvedor de software e freelancer com experiência na criação de soluções front end e back end, ou seja, sou capaz de desenvolver uma aplicação de ponta a ponta.</p>

    <p>Estou sempre buscando aprender coisas novas e me manter atualizado sobre o mundo da tecnologia. Minha área de atuação favorita é o back end, tenho proficiência nas seguintes tecnologias:</p>

    <Image class="mx-auto" width="350" height="1" src="https://skillicons.dev/icons?i=go,ts,python,postgresql,mongodb,docker" alt="go,ts,python,postgresql,mongodb,docker" />

    <p>Aproveitando para dizer que no front end eu atuo com as tecnologias abaixo:</p>

    <Image class="mx-auto" width="350" height="1" src="https://skillicons.dev/icons?i=html,css,react,next,tailwindcss,astro" alt="html,css,react,next,tailwindcss,astro" />
  </main>
</Layout>
