---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Kauê Fraga Rodrigues">
  <main class="flex-grow w-full max-w-3xl mx-auto p-6 space-y-5 lg:text-lg">
    <h1 class="max-w-lg text-pretty text-2xl md:text-5xl">Um pouco mais sobre mim</h1>

    <p>Me chamo Kauê, sou desenvolvedor de software e freelancer com experiência
    na criação de soluções front end e back end, em outras palavras, sou capaz
    de desenvolver uma aplicação de ponta a ponta.</p>

    <p>Estou sempre buscando aprender coisas novas e me manter atualizado sobre
    o mundo da tecnologia. Minha área de atuação favorita é o back end e nela eu
    tenho proficiência nas seguintes tecnologias.</p>

    <Image
      class="mx-auto"
      width="350"
      height="1"
      src="https://skillicons.dev/icons?i=go,ts,python,postgresql,mongodb,docker"
      alt="go,ts,python,postgresql,mongodb,docker"
      loading="eager"
    />

    <p>Aproveitando para dizer que no front end eu atuo com as tecnologias abaixo,
    que me permitem criar interfaces interativas, responsivas e acessíveis.</p>

    <Image
      class="mx-auto"
      width="350"
      height="1"
      src="https://skillicons.dev/icons?i=html,css,react,next,tailwindcss,astro"
      alt="html,css,react,next,tailwindcss,astro"
      loading="eager"
    />

    <p>No ano de 2024 eu escolhi focar nos meus três objetivos principais como
    desenvolvedor de software.</p>

    <ul class="list-disc list-inside">
      <li>Ganhar visibilidade na comunidade de desenvolvedores</li>
      <li>Aperfeiçoar meus conhecimentos na área do back end e do front end</li>
      <li>Construir projetos que ajudem as pessoas</li>
    </ul>

    <p>Para alcançar essas metas eu decidi começar a escrever artigos técnicos
    para o <a href="/blog" class="underline" target="_blank">meu blog</a>,
    <a href="https://dev.to/kauefraga" class="underline" target="_blank">dev.to</a>
    e <a href="https://tabnews.com.br/kauefraga" class="underline" target="_blank">TabNews</a>,
    além disso comecei a compartilhar alguns momentos e projetos meus no
    <a href="https://x.com/rkauefraga" class="underline" target="_blank">Twitter</a>
    e no <a href="https://www.linkedin.com/in/kauefraga/" class="underline" target="_blank">LinkedIn</a>.</p>
  </main>
</Layout>
