---
import { Image } from 'astro:assets';
import BentoCard from '../components/bento-cards/BentoCard.astro';
import LargeBentoCard from '../components/bento-cards/LargeBentoCard.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';

import { Icon } from 'astro-icon/components';
---

<Layout title="kauefragadev.">
  <main
    class="flex flex-col items-center justify-between py-10 md:flex-row md:items-start"
  >
    <section class="max-w-sm space-y-5 text-center md:text-left">
      <Profile />
    </section>

    <section
      class="mt-10 grid max-w-lg flex-1 grid-cols-1 gap-5 self-center md:mt-0 md:grid-cols-2 md:self-start"
    >
      <BentoCard
        href="https://github.com/kauefraga?tab=repositories&sort=stargazers"
        style={{ backgroundColor: 'rgba(48,54,61,0.1)' }}
        title="Meus repositórios"
        callToAction="Ver"
      >
        <Icon name="skill-icons:github-dark" size={32} slot="icon" />
      </BentoCard>

      <BentoCard
        href="https://dev.to/kauefraga"
        title="Meus artigos"
        callToAction="Ler"
      >
        <Icon name="mdi:dev-to" size={32} slot="icon" />
      </BentoCard>

      <BentoCard
        href="https://linkedin.com/in/kauefraga"
        style={{ backgroundColor: 'rgba(10,102,194,0.1)' }}
        title="Meu LinkedIn"
        callToAction="Conectar"
      >
        <Icon name="mdi:linkedin" size={32} color="#0A66C2" slot="icon" />
      </BentoCard>

      <BentoCard
        href="/pixmeacoffee"
        style={{ backgroundColor: 'rgba(45,91,255,0.1)' }}
        title="Pix me a coffee"
        callToAction="Doar"
      >
        <Icon name="mdi:coffee" size={32} color="#2d5bff" slot="icon" />
      </BentoCard>

      <LargeBentoCard
        href="https://rinhers.kauefraga.dev"
        style={{ backgroundColor: 'rgba(112,4,232,0.1)' }}
        title="Rinhers™"
        callToAction="Acessar"
        description="Conheça os participantes e suas soluções da Rinha de Back end 2025"
      >
        <Image
          src="https://raw.githubusercontent.com/kauefraga/rinhers/refs/heads/main/public/icon.png"
          alt="Rinhers™ logo"
          width="32"
          height="32"
          loading="eager"
          slot="icon"
        />
      </LargeBentoCard>

      <LargeBentoCard
        href="https://themis.kauefraga.dev"
        style={{ backgroundColor: 'rgba(14,131,254,0.1)' }}
        title="Themis"
        callToAction="Acessar"
        description="Gere uma análise detalhada e divertida do seu perfil da rede social Bluesky"
      >
        <Icon name="ri:bluesky-fill" size={32} color="#0e83fe" slot="icon" />
      </LargeBentoCard>

      <LargeBentoCard
        href="https://constantia.kauefraga.dev"
        style={{ backgroundColor: 'rgba(00,128,00,0.1)' }}
        title="Constantia"
        callToAction="Acessar"
        description="Anote suas práticas e desenvolva bons hábitos"
      >
        <Icon name="lucide:sprout" size={32} color="#008000" slot="icon" />
      </LargeBentoCard>
    </section>
  </main>
</Layout>
