---
import { ReactTyped } from 'react-typed';
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import Kaue from '../assets/kaue.png';
---

<Layout title="Kauê Fraga Rodrigues">
	<main class="flex flex-col flex-grow items-center gap-6 lg:text-lg">
		<header class="flex flex-col items-center gap-2">
			<Image
				class="w-full h-full max-w-40 max-h-48 rounded-lg"
				src={Kaue}
				alt="Imagem de perfil do Kauê"
				loading="eager"
			/>
			<h1 class="text-2xl lg:text-3xl font-medium">Kauê Fraga Rodrigues</h1>
			<ReactTyped
				strings={[
					'Desenvolvedor de Software',
					'Mago do Código',
					'Desenvolvedor Back end',
					'Rustáceo',
					'Gopher',
					'Typescripto',
				]}
				typeSpeed={90}
				loop
				client:visible
			/>
		</header>

		<ul class="space-y-3">
			<li>
				<Link href="https://github.com/kauefraga/ruke">Ruke, uma ferramenta simples</Link>
			</li>
			<li>
				<Link href="https://github.com/kauefraga/my-dotfiles">Minhas configurações</Link>
			</li>
			<li>
				<Link href="https://dev.to/kauefraga/aprenda-a-fazer-um-readme-4n36">Série sobre markdown e READMEs</Link>
			</li>
			<li>
				<Link href="https://github.com/kauefraga/ariprog">Biblioteca de progressão aritmética</Link>
			</li>
		</ul>
	</main>
</Layout>
