---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {}

const { ...props } = Astro.props;
---

<li>
  <a
    {...props}
    target="_blank"
    class="block rounded bg-zinc-100 px-8 py-3 text-center shadow-md transition-colors hover:bg-violet-800 hover:text-white"
  >
    <slot />
  </a>
</li>
