---
import { Icon } from 'astro-icon/components';
---

<footer
  class="flex flex-col items-center gap-3 font-mono md:flex-row md:justify-between"
>
  <p>&copy; Kauê Fraga Rodrigues, 2024</p>

  <ul class="flex gap-5 text-3xl">
    <li>
      <a
        href="https://www.linkedin.com/in/kauefraga/"
        title="Meu LinkedIn"
        aria-label="Meu LinkedIn"
        target="_blank"
      >
        <Icon name="mdi:linkedin" size={36} class="hover:text-violet-800" />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/kauefraga"
        title="Meu GitHub"
        aria-label="Meu GitHub"
        target="_blank"
      >
        <Icon name="mdi:github" size={36} class="hover:text-violet-800" />
      </a>
    </li>
    <li>
      <a
        href="https://x.com/rkauefraga"
        title="Meu Twitter/X"
        aria-label="Meu Twitter/X"
        target="_blank"
      >
        <Icon name="mdi:twitter" size={36} class="hover:text-violet-800" />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/kauefragarodrigues/"
        title="Meu Instagram"
        aria-label="Meu Instagram"
        target="_blank"
      >
        <Icon name="mdi:instagram" size={36} class="hover:text-violet-800" />
      </a>
    </li>
  </ul>
</footer>
