---
import { Icon } from 'astro-icon/components';

const currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col-reverse items-center gap-3 md:flex-row md:justify-between"
>
  <p>&copy; {currentYear} Kauê Fraga Rodrigues</p>

  <ul class="flex gap-5 text-3xl">
    <li>
      <a href="/rss.xml" title="Feed RSS" aria-label="Feed RSS" target="_blank">
        <Icon
          name="mdi:rss"
          size={36}
          class="text-violet-600 hover:text-black/90"
        />
      </a>
    </li>
    <li>
      <a
        href="https://bsky.app/profile/kauefraga.dev"
        title="Meu Bluesky"
        aria-label="Meu Bluesky"
        target="_blank"
      >
        <Icon
          name="ri:bluesky-fill"
          size={36}
          class="text-violet-600 hover:text-black/90"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/kauefraga/"
        title="Meu LinkedIn"
        aria-label="Meu LinkedIn"
        target="_blank"
      >
        <Icon
          name="mdi:linkedin"
          size={36}
          class="text-violet-600 hover:text-black/90"
        />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/kauefraga"
        title="Meu GitHub"
        aria-label="Meu GitHub"
        target="_blank"
      >
        <Icon
          name="mdi:github"
          size={36}
          class="text-violet-600 hover:text-black/90"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/rkauefraga/"
        title="Meu Instagram"
        aria-label="Meu Instagram"
        target="_blank"
      >
        <Icon
          name="mdi:instagram"
          size={36}
          class="text-violet-600 hover:text-black/90"
        />
      </a>
    </li>
  </ul>
</footer>
