---
import NavLink from './NavLink';
import { Image } from 'astro:assets';
import Linkedin from '../assets/linkedin.svg';
import GitHub from '../assets/github.svg';
import Instagram from '../assets/instagram.svg';
import Twitter from '../assets/twitter.svg';
---

<footer
  class='
    flex flex-col items-center gap-5 p-4 font-mono fixed bottom-0 w-full justify-center
    md:flex-row md:gap-12
    lg:text-lg
  '
>
  <aside class="space-y-2">
    <h2>Kauê Fraga Rodrigues</h2>
    <ul class="flex gap-3">
      <li>
        <a href="https://www.linkedin.com/in/kauefraga/">
          <Image
            src={Linkedin}
            alt="Ícone do LinkedIn"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/kauefraga">
          <Image
            src={GitHub}
            alt="Ícone do GitHub"
          />
        </a>
      </li>
      <li>
        <a href="https://x.com/rkauefraga">
          <Image
            src={Twitter}
            alt="Ícone do Twitter"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kauefragarodrigues/">
          <Image
            src={Instagram}
            alt="Ícone do Instagram"
          />
        </a>
      </li>
    </ul>
    <p>Feito por mim, 2024</p>
  </aside>

  <nav class="flex flex-col gap-1">
    <NavLink href="/about">/about</NavLink>
    <NavLink href="/contact">/contact</NavLink>
    <NavLink href="https://github.com/kauefraga/kauefraga.com">/repository</NavLink>
  </nav>
</footer>
