---
import { Icon } from 'astro-icon/components';
import NavLink from './NavLink.astro';
---

<footer
  class="
    flex flex-col items-center gap-6 bg-zinc-900 text-white md:text-lg py-6
    md:flex-row md:justify-center
  "
>
  <aside class="space-y-2">
    <h2>Kauê Fraga Rodrigues</h2>
    <ul class="flex gap-3 text-3xl">
      <li>
        <a href="https://www.linkedin.com/in/kauefraga/">
          <Icon name="mdi:linkedin" class="hover:text-violet-600" />
        </a>
      </li>
      <li>
        <a href="https://github.com/kauefraga">
          <Icon name="mdi:github" class="hover:text-violet-600" />
        </a>
      </li>
      <li>
        <a href="https://x.com/rkauefraga">
          <Icon name="mdi:twitter" class="hover:text-violet-600" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kauefragarodrigues/">
          <Icon name="mdi:instagram" class="hover:text-violet-600" />
        </a>
      </li>
    </ul>
    <p>Feito por mim, 2024</p>
  </aside>

  <nav class="flex gap-5 md:flex-col md:gap-1 font-mono">
    <NavLink href="/about">/about</NavLink>
    <NavLink href="/contact">/contact</NavLink>
    <NavLink href="https://github.com/kauefraga/kauefraga.com">/repository</NavLink>
  </nav>
</footer>
