---
import NavLink from './NavLink.astro';
---

<header
  class="flex flex-col items-center gap-3 font-mono md:flex-row md:justify-between"
>
  <a href="/" class="flex flex-col items-center md:items-start">
    <h2 class="font-semibold">Kauê Fraga</h2>
    <p>Desenvolvedor de Software</p>
  </a>

  <nav>
    <NavLink href="/about">/sobre</NavLink>
    <NavLink href="/blog">/blog</NavLink>
    <NavLink href="/projects">/projetos</NavLink>
  </nav>
</header>
