---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<ul class="flex flex-wrap gap-1 text-sm lg:text-base">
  {
    tags.map((tag) => {
      return <li class="bg-main/30 rounded-full px-3 py-1">{tag}</li>;
    })
  }
</ul>
