---
import '@fontsource/jetbrains-mono';
import '@fontsource/dm-sans';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen space-y-6">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
