@import "tailwindcss";

@theme {
  --color-main: #0466C9;
  --color-main-darker: #023E7D;
}

body {
  font-family: "Rubik Variable", sans-serif;
}

code,
.astro-code pre,
.astro-code code,
.astro-code span {
  font-family: "JetBrains Mono Variable", monospace;
}
