---
import Layout from '../layouts/Layout.astro';

interface Props {
  title?: string;
  postTitle: string;
}

const { title, postTitle } = Astro.props;
---

<Layout title={title ?? postTitle}>
  <article class="space-y-5 lg:text-lg">
    <h1 class="max-w-xl text-pretty text-2xl md:text-5xl">{postTitle}</h1>
    <slot />
  </article>
</Layout>
